<div class="cust-nav">
    <div class="nav-left">
        <div class="nav-left-item">Home</div>
        <div class="nav-left-item">About</div>
        <div class="nav-left-item">Contact</div>
        <div class="nav-left-item">Support</div>
        <div class="nav-left-item">Help</div>
    </div>
    <div class="nav-right">
        <div class="nav-right-item" routerLink="/login">Log In</div>
        <div class="nav-right-item" (click)="toggleTheme()"> <i class="bi bi-lightning-fill" #theme></i>
        </div>
    </div>
</div>