<div class="cust-nav">
    <div class="nav-left">
        <div class="nav-left-item" routerLinkActive="active" routerLink="home">Home</div>
        <div class="nav-left-item" routerLinkActive="active" routerLink="about">About</div>
        <div class="nav-left-item" routerLinkActive="active" routerLink="contact">Contact</div>
        <div class="nav-left-item" routerLinkActive="active" routerLink="support">Support</div>
        <div class="nav-left-item" routerLinkActive="active" routerLink="help">Help</div>
    </div>
    <div class="nav-right">
        <div class="nav-right-item" (click)="logout()">Log out</div>
        <div class="nav-right-item" (click)="toggleTheme()"> <i class="bi bi-lightning-fill" #theme></i>
        </div>
    </div>
</div>
<router-outlet></router-outlet>