html, body {
    height: 100%;
}



:root {
    --bg-theme: #fff;
    --co-theme: #000;
    --nav-bg-theme: #dee2e6;
    --login-bg-theme: #f8f8ff;
    --login-shadow-theme: #ffc107;
    --input-bg-theme: #fff;
    --input-border-theme: #ffc107;
}

.dark {
    --bg-theme: #343a40;
    --co-theme: #fff;
    --nav-bg-theme: #212529;
    --login-bg-theme: #495057;
    --login-shadow-theme: #ffc107;
    --input-bg-theme: #0003;
    --input-border-theme: #ffc107;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: all .3s;
    background-color: var(--bg-theme);
    color: var(--co-theme);
}